<%= form_with(model: conversation_type, local: true) do |form| %>
  <% if conversation_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(conversation_type.errors.count, "error") %> prohibited this conversation_type from being saved:</h2>

      <ul>
      <% conversation_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
